<!DOCTYPE html>
<html>

<head>
  <title>SM-Inicio</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">

    </div>
  </div>
      <div class="login-form" style="background-color:#b71c1c">
        <div class = "container">
          <div class = "main">
            <div class = "content">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="card-link">Ver más...</a>
              </div>
            </div>
            <div class="form-img">
              <img src="../../../assets/imgInicio.png">
            </div>
          </div>
        </div>
      </div>
      <div class="login-form" style="background-color:#b71c1c">
        <div class = "container">
          <div class = "main">
            <div class = "content">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="card-link">Ver más...</a>
              </div>
            </div>
            <div class="form-img">
              <img src="../../../assets/imgInicio.png">
            </div>
          </div>
        </div>
      </div>


</body>
</html>





<!--
<!DOCTYPE html>
<html>

<head>
  <title>SM-Inicio</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
   <div class="login-form">
    <div class = "container">
      <div class = "main">
        <div class = "content">
            <h2>Tipos de salas</h2>
          <form>
            <div class="mb-3">
              <input type="email" placeholder="Ingrese su usuario" required autofocus="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <input type="password" placeholder="Ingrese su contraseña" required autofocus="" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn">Acceder</button>
          </form>
          <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> Nunca compartas tus credenciales con nadie.</div>
          <div id="emailHelp" class="form-text"><strong><i class="bi bi-question-circle-fill"></i> Si olvidaste o no cuentas con credenciales comunícate con el área de informática.</strong></div>
        </div>
        <div class="form-img">
          <img src="../../../assets/imgInicio.png">
        </div>
      </div>
    </div>
  </div>
  <div class="login-form">
    <div class = "container">
      <div class = "main">
        <div class="form-img">
          <img src="../../../assets/imgINu.png">
          <button type="submit" class="btn">Ver los tipos de salas...</button>
        </div>
        <div class="form-img">
          <img src="../../../assets/imgINu2.png">
          <button type="submit" class="btn">Ver y/o gestionar una reunión...</button>
        </div>
      </div>
    </div>
  </div>
  <img src="../../../assets/imgFooter.jpg"class="d-block w-100" alt="...">
 </body>
</html>
-->
