*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
   font-family: 'Raleway';
}

.login-form{
   position: relative;
   //min-height: 100vh;
   z-index: 0;
   background: #b71c1c;
  // padding: 40px;
   justify-content: center;
   display:grid;
  // grid-template-rows: 1fr auto 1fr;
   align-items: center;
}

.container{
   max-width: center;
   margin: 0 auto;
}

.login-form h2{
   font-size: 30px;
   line-height: 40px;
   margin-bottom: 5px;
   font-weight:500;
   color: #272346;
   text-align:center;
}

.login-form .main{
   position: relative;
   display: flex;
   margin: 30px 0;
}

.content{
   flex-basis: 50%;
   padding: 3em 3em;
   background: #fff;
   box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);

}

.form-img{
   flex-basis: 50%;
   background: #fff;
   background-size: cover;
   padding: 40px;
   align-items: center;
   display: grid;
}

.form-img img{
   max-width: 100%;
}

.btn,
button,
input{
   border-radius: 35px;
}

.btn:hover,
button:hover{
   transition: 0.5s ease;
}

.login-form input:focus{
   background: transparent;
   border: 1px solid red;
}

.login-form button{
   font-size: 18px;
   color: #fff;
   width: 100%;
   background: red;
   border: none;
   padding: 14px 15px;
   font-weight: 500;
   transition: 0.3s ease;
}

.login-form button:hover{
   background: #BDBDBD;
}

//Responsive
@media(max-width: 736px){
   .login-form .main{
       flex-direction: column;
   }
   .login-form form{
       margin-top: 30px;
       margin-bottom: 10px;
   }
   .form-img{
    order: 2;
   }
   .content{
       order: 1;
       border-radius: 0;
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
   }
}

