<!DOCTYPE html>
<html>
<head>
  <title>SM-DetalleTipoSala</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<body>
  <!-- Sección de la explicación de Usuarios -->
  <div *ngIf="identidad !=null" style=" border-radius: 0;"class="card text-center">
    <div *ngIf="identidad !=null" style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title">Detalle del Tipo de Sala "{{tipoSalaModel.nombre}}"</h5>
      <p style="color:white" class="card-text">En este apartado podrás encontrar a detalle la información acerca de este tipo de sala.</p>
      <button type="button" class="btn btn-light" [routerLink]="['/tipoSalas']">Regresar a ver los Tipos de Salas</button>
    </div>
  </div>
  <br>
  <br>
<div *ngIf="identidad !=null" class="login-form" style="background-color: gray">
  <div class = "container">
    <div class = "main">
      <div class = "content">
        <div class="card-body">
          <h5 class="card-title">{{tipoSalaModel.nombre}}</h5>
          <p class="card-text">{{tipoSalaModel.descripcion}}</p>
          <br>
          <br>
          <strong>Capacidad máxima:</strong> {{tipoSalaModel.capacidadMax}} personas.
        </div>
      </div>
      <div class="form-img">
        <img src="../../../assets/imgTipoSalaD.jpg">
      </div>
    </div>
  </div>
</div>

<div *ngIf="identidad === null" id="err">
  <div id="error-page">
    <div class="contentE">
      <h1 data-text="403">403</h1>
      <h4 data-text="Opps! Page not found">Ooops! No puedes acceder...</h4>
      <p>Lo sentimos, pero tienes que iniciar sesión para poder ver el contenido.</p>
      <div class="btns">
        <a [routerLink]="['/login']">Ir a iniciar sesión</a>
      </div>
    </div>
  </div>
</div>
<br>
    <!-- Footer -->
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section links">
          <div align="center"class="socials">
            <a  style="color:rgb(40, 122, 177)" href= "https://www.linkedin.com/company/sopesagt"><i class="bi bi-linkedin"></i></a>&nbsp;
            <a  style="color:blue" href= "https://www.facebook.com/SOPESA1/"><i class="bi bi-facebook"></i></a>&nbsp;
            <a  style="
              border-radius: 40px;
              color: #fff;
              vertical-align: middle;
              background: #d6249f;
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
              box-shadow: 0px 3px 10px rgba(0,0,0,.25);"
              href= "https://instagram.com/sopesa1"><i class="bi bi-instagram"></i></a>&nbsp;
            <a style="color:red" href= "https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg"><i class="bi bi-youtube"></i></a>&nbsp;
            <a style="color: black"href="https://goo.gl/maps/82xybT4hZ7L6cGaAA"><i class="bi bi-geo-alt-fill"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <strong>&copy; SOPESA</strong>
      </div>
    </div>
</body>
</html>
