<!DOCTYPE html>
<html>
<head>
    <title>SM - ERROR - 404</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
  <body>
    <div id="err">
      <div id="error-page">
        <div class="contentE">
          <h1 data-text="404">404</h1>
          <h4 data-text="Opps! Page not found">Opps! Página no encontrada</h4>
          <p>Lo sentimos, revisa si no te confundiste de ruta.</p>
        </div>
      </div>
    </div>
  </body>
</html>
