
#err{
  height: 100vh;
  background: -webkit-repeating-linear-gradient(-45deg, #64696d, #a05050, red, red, #c6b7cc, #8f989e, #ff0303);
  background-size: 400%;
  margin: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
}

#error-page{
  border-radius: 12px;
  position: absolute;
  /*top: 10%;*/
  left: 10%;
  right: 10%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
#error-page .contentE{
  max-width: 600px;
  text-align: center;
}
.contentE h1{
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}
.contentE h1:after{
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(-45deg, #424b52, #a05050, red, #e71700, #c6b7cc, #69a6ce, #ff0303);
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
  animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
  0%{
    background-position: 0 0;
  }
  25%{
    background-position: 100% 0;
  }
  50%{
    background-position: 100% 100%;
  }
  75%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}
.contentE h4{
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}
.contentE h4:after{
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contentE p{
  font-size: 1.2em;
  color: #0d0d0d;
}


