<div class ="row">
  <div class="col-12">
    <h1>Añadir evento</h1>
    <form (ngSubmit)="addEvent()">
      <div class="row form-group">
        <div class="col-md-4 col-12">
          <label for="descripcion">Descripcion</label>
          <input type="text" class="form-control"name="descripcion" id="descripcion" [(ngModel)]="event.title"/>
        </div>
        <div class="col-md-4 col-12">
          <label for="start">Inicio</label>
          <!--
          <p-calendar
            name="start"
            id="start"
            inputStyleClass="form-control"

            [minDate]="today"
            [(ngModel)]="event.startDate">
          </p-calendar>
-->

          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            id="inputFechaIn"
            name="fechIn"
            #fechIn="ngModel"
            [(ngModel)]="event.startDate"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Seleccione la fecha de inicio"
          />
          <p-checkbox
            name="show-end"
            label="¿Tiene fecha de fin?"
            [(ngModel)]="showEnd">
          </p-checkbox> <!-- binary="true"-->

        </div>
        <div class="col-md-4 col-12" *ngIf="showEnd">
          <label for="end">Fin</label>
          <p-calendar
           name="end"
           id="end"
           inputStyleClass="form-control"
           [minDate]="event.startDate"
           [(ngModel)]="event.endDate">
          </p-calendar>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <button type="button" type="submit" class="btn btn-primary btn-block">Añadir evento</button>
        </div>
      </div>
    </form>
  </div>
</div>
