<!DOCTYPE html>
<html>
<head>
  <title>SM-TipoSalas</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<body>
   <!-- Sección de la explicación de Usuarios -->
  <div  style="border-radius: 0; "class="card text-center ">
    <div style="background-color:#b71c1c"  class="card-body">
      <h5 style="color:white"class="card-title">Tipos de Salas</h5>
      <p style="color:white" class="card-text">En este apartado podrás encontrar los tipos de salas disponibles, los cuales dentro de ellos cuentan con una serie de salas.</p>
      <button type="button" class="btn btn-light" [routerLink]="['/inicio']">Regresar al inicio</button>&nbsp;
      <button *ngIf="identidad.rol==='SuperAdministrador'" type="button" class="btn btn-light" [routerLink]="['/tipoSalas']">Vista administrativa <i class="bi bi-grid"></i></button>
    </div>
  </div>
  <br>
    <div style="background-color: gray;"class="row table">
      <div class="col-xs-12 col-sm-6" *ngFor="let tpsl of tiposModelGet; let i = index">
        <div class="login-form">
            <div class = "main">
              <div class = "content">
                <div class="card-body">
                  <h5 class="card-title">{{tpsl.nombre}}</h5>
                  <p class="card-text">{{tpsl.descripcion}}</p>
                  <br>
                  <br>
                  <strong>Capacidad máxima:</strong> {{tpsl.capacidadMax}} personas.
                  <br>
                  <br>
                  <a class="card-link">Ver salas...</a>
                </div>
              </div>
              <div class="form-img">
                <img src="../../../assets/imgTipoSalaD.jpg">
              </div>
            </div>
          </div>
        </div>
    </div>
  <!-- Línea previa al footer
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title"></h5>
      <p style="color:white" class="card-text"></p>
    </div>
  </div>
  -->
    <!-- Footer -->
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section links">
          <div align="center"class="socials">
            <a  style="color:rgb(40, 122, 177)" href= "https://www.linkedin.com/company/sopesagt"><i class="bi bi-linkedin"></i></a>&nbsp;
            <a  style="color:blue" href= "https://www.facebook.com/SOPESA1/"><i class="bi bi-facebook"></i></a>&nbsp;
            <a  style="
              border-radius: 40px;
              color: #fff;
              vertical-align: middle;
              background: #d6249f;
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
              box-shadow: 0px 3px 10px rgba(0,0,0,.25);"
              href= "https://instagram.com/sopesa1"><i class="bi bi-instagram"></i></a>&nbsp;
            <a style="color:red" href= "https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg"><i class="bi bi-youtube"></i></a>&nbsp;
            <a style="color: black"href="https://goo.gl/maps/82xybT4hZ7L6cGaAA"><i class="bi bi-geo-alt-fill"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <strong>&copy; SOPESA</strong>
      </div>
    </div>
</body>
</html>



<!-- Modal Agregar Tipo de Sala-->
<div class="modal fade" id="mCrearTipoS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Sala</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                      <label for="inputNombre" class="form-label"><strong>Nombre:</strong></label>
                      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre del tipo de sala." name="nombre" #nombre="ngModel"  [(ngModel)]="tiposModelAdd.nombre">
                  </div>
                  <div class="mb-3">
                    <label for="inputDesc" class="form-label"><strong>Descripción:</strong></label>
                    <textarea class="form-control" id="inputDesc" placeholder="Breve descripción del tipo de sala." rows="3" name="descrip" #descrip="ngModel"
                      [(ngModel)]="tiposModelAdd.descripcion"></textarea>
                  </div>
                  <div class="mb-3">
                      <label for="inputCap" class="form-label"><strong>Capacidad Máxima:</strong></label>
                      <input type="number" class="form-control" id="inputCap" name="capM" #capM="ngModel" [(ngModel)]="tiposModelAdd.capacidadMax">
                  </div>
                  <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i><strong> No dejes campos vacíos.</strong></div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cancelar</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="crearTipoSala()"><i class="bi bi-plus-square"></i> Crear</button>
          </div>
      </div>
  </div>
</div>


<!-- Modal Activar Tipo -->
<div class="modal fade" id="mActivarTipo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de activación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de que desea activar el Tipo de Sala, "{{idTipoSalaModel.nombre}}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> No, cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
        (click)="activarTipo(idTipoSalaModel._id)">Si, activar <i class="bi bi-toggle-on"></i> </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Desactivar Tipo de Sala -->
<div class="modal fade" id="mDesactivarTipo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de desactivación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de que desea desactivar el Tipo de Sala, "{{idTipoSalaModel.nombre}}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> No, cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
        (click)="desactivarTipo(idTipoSalaModel._id)">Si, desactivar <i class="bi bi-toggle-off"></i> </button>
      </div>
    </div>
  </div>
</div>


