<!DOCTYPE html>
<html>
<head>
  <title>SM-Usuarios</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<body>
  <!-- Sección de la explicación de Usuarios -->
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title">USUARIOS</h5>
      <p style="color:white" class="card-text">En este apartado se podrán crear, ver, editar y desactivar las cuentas de los usuarios.</p>
      <button type="button" class="btn btn-light" [routerLink]="['/inicio']">Regresar al inicio</button>
    </div>
  </div>
  <!-- Sección donde estan las respectivas tablas y filtros -->
  <div  *ngIf="identidad.rol!='Usuario'" class="container"><br>
    <!-- GRUPO DE TABS PARA LOS USUARIOS -->
    <mat-tab-group mat-align-tabs="center">

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">search</mat-icon>
          Ver Usuarios
        </ng-template>
        <!-- Filtro -->
        <mat-form-field appearance="standard">
          <mat-label >Escribe algo para filtrar...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: usuario" #input autocomplete="off">
        </mat-form-field>
        <!-- Tabla -->
        <div class="mat-elevation-z8">
          <table align="center" mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <ng-container matColumnDef="tel">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
              <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
            </ng-container>

            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
              <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="text-align:right;">

                  <div  *ngIf="element.rol!='SuperAdministrador'" class="dropdown">
                    <button  class="btn btn-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"> </i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mVerUsuario"(click)="obtenerUsuarioId(element._id)"><i class="bi bi-search"></i> | Ver más</a></li>
                      <li><a *ngIf="element.rol!='SuperAdministrador'" class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mEditarUsuario" (click)="obtenerUsuarioId(element._id)"><i class="bi bi-pencil-square"></i> | Editar</a></li>
                      <li><a *ngIf="element.estado==='Activo'" class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mDesactivarUsuario" (click)="obtenerUsuarioId(element._id)"><i class="bi bi-toggle-off"></i> | Desactivar</a></li>
                      <li><a *ngIf="element.estado==='Desactivado'" class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mActivarUsuario" (click)="obtenerUsuarioId(element._id)"><i class="bi bi-toggle-on"></i> | Activar</a></li>
                      </ul>
                  </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- Paginación -->
         <mat-paginator  [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons ></mat-paginator>
        </div>
      </mat-tab>
      <!-- Tab de Usuarios Desactivados-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">search_off</mat-icon>
          Usuarios Desactivados
        </ng-template>

        <!-- Filtro -->
        <mat-form-field appearance="standard">
          <mat-label >Escribe algo para filtrar...</mat-label>
          <input matInput (keyup)="applyFilterD($event)" placeholder="Ejemplo: usuario" #input autocomplete="off">
        </mat-form-field>
        <!-- Tabla -->
        <div class="mat-elevation-z8">
          <table align="center" mat-table [dataSource]="dataSourceD"> <!-- matSort -->

            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef> Usuario </th> <!-- mat-sort-header -->
              <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> Correo </th> <!-- mat-sort-header -->
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <ng-container matColumnDef="tel">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th> <!-- mat-sort-header -->
              <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
            </ng-container>

            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef> Rol </th> <!-- mat-sort-header -->
              <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th> <!-- mat-sort-header -->
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="text-align:right;">
                  <div  class="dropdown">
                    <button class="btn btn-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"> </i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mVerUsuario"(click)="obtenerUsuarioId(element._id)"><i class="bi bi-search"></i> | Ver más</a></li>
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mEditarUsuario" (click)="obtenerUsuarioId(element._id)"><i class="bi bi-pencil-square"></i> | Editar</a></li>
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#mActivarUsuario" (click)="obtenerUsuarioId(element._id)" ><i class="bi bi-toggle-on"></i> | Activar</a></li>
                      </ul>
                  </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsD"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsD;"></tr>
          </table>
          <!-- Paginación -->
         <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons ></mat-paginator> -->
        </div>
      </mat-tab>

      <!-- Tab de Crear usuarios-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">add_reaction</mat-icon>
          Crear Usuarios
        </ng-template>
        <div class="login-form">
          <div class = "container">
            <div class = "main">
              <div class = "content" >
                  <h2>Crear Usuario</h2>
                <form>
                  <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="Nombres" required autofocus="" class="form-control" id="inputNombres" name="email" #email="ngModel"
                    [(ngModel)]="user.nombres">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="Apellidos" required autofocus="" class="form-control" id="inputApellidos" name="email" #email="ngModel"
                    [(ngModel)]="user.apellidos">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="email" placeholder="Correo" required autofocus="" class="form-control" id="inputCorreo" name="email" #email="ngModel"
                    [(ngModel)]="user.correo">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="Usuario" required autofocus="" class="form-control" id="inputUsuario" name="email" #email="ngModel"
                    [(ngModel)]="user.usuario">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="password" placeholder="Contraseña" required autofocus="" class="form-control" id="inputContrasena" name="password" #password="ngModel"
                    [(ngModel)]="user.contrasena">
                  </div>
                   <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="No. Tel" required autofocus="" class="form-control" id="inputTel" name="email" #email="ngModel"
                    [(ngModel)]="user.tel">
                  </div>
                  <button type="submit" class="btn" (click)="crearUsuarios()">Crear Usuario</button>
                </form>
                <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> Al crear el usuario la cuenta ya está activa.</div>
              </div>
              <div class="form-img">
                <img src="../../../assets/imgUs.jpg">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div><br>
  <!-- Línea previa al footer -->
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title"></h5>
      <p style="color:white" class="card-text"></p>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section links">
        <div align="center"class="socials">
          <a  style="color:rgb(40, 122, 177)" href= "https://www.linkedin.com/company/sopesagt"><i class="bi bi-linkedin"></i></a>&nbsp;
          <a  style="color:blue" href= "https://www.facebook.com/SOPESA1/"><i class="bi bi-facebook"></i></a>&nbsp;
          <a  style="
            border-radius: 40px;
            color: #fff;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);"
            href= "https://instagram.com/sopesa1"><i class="bi bi-instagram"></i></a>&nbsp;
          <a style="color:red" href= "https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg"><i class="bi bi-youtube"></i></a>&nbsp;
          <a style="color: black"href="https://goo.gl/maps/82xybT4hZ7L6cGaAA"><i class="bi bi-geo-alt-fill"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <strong>&copy; SOPESA</strong>
    </div>
  </div>
  </body>
  </html>

<!-- Modal Ver Usuario -->
<div class="modal fade" id="mVerUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del usuario:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombres:</label>
            <input type="text" class="form-control" id="inputNombre" name="nombre"
            #nombre="ngModel" [(ngModel)]="idUsuarioModel.nombres" disabled>
          </div>
          <div class="mb-3">
            <label for="inputApellido" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" id="inputApellido" name="lastName"
            #lastName="ngModel" [(ngModel)]="idUsuarioModel.apellidos" disabled>
          </div>
          <div class="mb-3">
            <label for="inputUsuario" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="inputUsuario" name="usuario"
            #usuario="ngModel" [(ngModel)]="idUsuarioModel.usuario" disabled>
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo:</label>
            <input type="text" class="form-control" id="inputEmail" name="email"
            #email="ngModel" [(ngModel)]="idUsuarioModel.correo" disabled>
          </div>
          <div class="mb-3">
            <label for="inputPwd" class="form-label">No. Tel:</label>
            <input type="text" class="form-control" id="inputPwd" name="contrasena"
            #contrasena="ngModel" [(ngModel)]="idUsuarioModel.tel" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Usuario -->
<div class="modal fade" id="mEditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label"><strong>Nombres:</strong></label>
            <input type="text" class="form-control" id="inputNombre"
            name="nombres" #nombres="ngModel" [(ngModel)]="idUsuarioModel.nombres">
          </div>
          <div class="mb-3">
            <label for="inputApellidos" class="form-label"><strong>Apellidos:</strong></label>
            <input type="text" class="form-control" id="inputApellidos"
            name="apellidos" #apellidos="ngModel" [(ngModel)]="idUsuarioModel.apellidos">
          </div>
          <div class="mb-3">
            <label for="inputUsuario" class="form-label"><strong>Usuario:</strong></label>
            <input type="text" class="form-control" id="inputUsuario"
            name="usuario" #usuario="ngModel" [(ngModel)]="idUsuarioModel.usuario">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><strong>Correo:</strong></label>
            <input type="email" class="form-control" id="exampleInputEmail1"
            name="email" #email="ngModel" [(ngModel)]="idUsuarioModel.correo">
          </div>
          <div class="mb-3">
            <label for="inputTel" class="form-label"><strong>No. Tel:</strong></label>
            <input type="email" class="form-control" id="inputTel"
            name="tel" #tel="ngModel" [(ngModel)]="idUsuarioModel.tel">
          </div>
          <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> No dejes campos vacíos.</div>
          <hr>

          <label for="inputTipo" class="col-6 col-form-label"><strong>Tipo de rol:</strong></label>
          <div class="mb-3">
            <select  name="type" #type="ngModel"
              [(ngModel)]="idUsuarioModel.rol" class="form-select" aria-label="Default select example">
              <option  [ngValue]="'Administrador'">Administrador</option>
              <option  [ngValue]="'Usuario'">Usuario</option>
            </select>

          <div id="emailHelp" class="form-text"><strong><i class="bi bi-exclamation-circle-fill"></i> Recuerda que cada rol tiene accesos distintos.</strong></div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editarUsuario()"><i class="bi bi-save"></i> Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Activar Usuario -->
<div class="modal fade" id="mActivarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de activación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de que desea activar el Usuario, {{idUsuarioModel.usuario}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> No, cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
        (click)="activarUsuario(idUsuarioModel._id)">Si, activar <i class="bi bi-toggle-on"></i> </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Desactivar Usuario -->
<div class="modal fade" id="mDesactivarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de desactivación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de que desea desactivar el Usuario, {{idUsuarioModel.usuario}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> No, cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
        (click)="desactivarUsuario(idUsuarioModel._id)">Si, desactivar <i class="bi bi-toggle-off"></i> </button>
      </div>
    </div>
  </div>
</div>
