<!DOCTYPE html>
<html>
<head>
  <title>SM-Usuarios</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<body>
  <!-- Sección de la explicación de Usuarios -->
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title">USUARIOS</h5>
      <p style="color:white" class="card-text">En este apartado se podrán crear, ver, editar y desactivar las cuentas de los usuarios.</p>
      <button type="button" class="btn btn-light" [routerLink]="['/inicio']">Regresar al inicio</button>
    </div>
  </div>
  <!-- Sección donde estan las respectivas tablas y filtros -->
  <div class="container"><br>
    <!-- GRUPO DE TABS PARA LOS USUARIOS -->
    <mat-tab-group mat-align-tabs="center">

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">search</mat-icon>
          Ver Usuarios
        </ng-template>
        <!-- Filtro -->
        <mat-form-field appearance="standard">
          <mat-label >Escribe algo para filtrar...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: usuario" #input autocomplete="off">
        </mat-form-field>
        <!-- Tabla -->
        <div class="mat-elevation-z8">
          <table align="center" mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <ng-container matColumnDef="tel">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
              <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
            </ng-container>

            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
              <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="text-align:right;">

                  <div class="dropdown">
                    <button class="btn btn-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"> </i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#modalEditarHotel"><i class="bi bi-search"></i> | Ver más</a></li>
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#modalEditarHotel"><i class="bi bi-pencil-square"></i> | Editar</a></li>
                      <li><a class="dropdown-item"
                        data-bs-toggle="modal" data-bs-target="#modalEliminarHotel"><i class="bi bi-toggle-off"></i> | Desactivar</a></li>
                      </ul>
                  </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- Paginación -->
         <mat-paginator  [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons ></mat-paginator>
        </div>
      </mat-tab>

      <!-- Tab de Crear usuarios-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">add_reaction</mat-icon>
          Crear Usuarios
        </ng-template>
        <div class="login-form">
          <div class = "container">
            <div class = "main">
              <div class = "content" >
                  <h2>Crear Usuario</h2>
                <form>
                  <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="Nombres" required autofocus="" class="form-control" id="exampleInputEmail1" name="email" #email="ngModel"
                    [(ngModel)]="user.nombres" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="Apellidos" required autofocus="" class="form-control" id="exampleInputEmail1" name="email" #email="ngModel"
                    [(ngModel)]="user.apellidos" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="email" placeholder="Correo" required autofocus="" class="form-control" id="exampleInputEmail1" name="email" #email="ngModel"
                    [(ngModel)]="user.correo" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="Usuario" required autofocus="" class="form-control" id="exampleInputEmail1" name="email" #email="ngModel"
                    [(ngModel)]="user.usuario" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <input autocomplete="off" type="password" placeholder="Contraseña" required autofocus="" class="form-control" id="exampleInputPassword1" name="password" #password="ngModel"
                    [(ngModel)]="user.contrasena">
                  </div>
                   <div class="mb-3">
                    <input autocomplete="off" type="text" placeholder="No. Tel" required autofocus="" class="form-control" id="exampleInputEmail1" name="email" #email="ngModel"
                    [(ngModel)]="user.tel" aria-describedby="emailHelp">
                  </div>
                  <button type="submit" class="btn" (click)="crearUsuarios()">Crear Usuario</button>
                </form>
                <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> Al crear el usuario la cuenta ya está activa.</div>
              </div>
              <div class="form-img">
                <img src="../../../assets/imgUs.jpg">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- Tab de Crear usuarios
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">add_reaction</mat-icon>
          Crear Usuarios
        </ng-template>
        <mat-card style="margin-top:10px">
          <form [formGroup]="form" (ngSubmit)="crearUsuarios()">
            <mat-grid-list cols="4" rowHeight="70px">
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho">
                  <mat-label>Usuario</mat-label>
                  <input matInput autocomplete="off" name="usuario" #usuario="ngModel"
                  [(ngModel)]="user.usuario" >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="7">
                <img src="../../../assets/programmer.png" width="250" height="250">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho">
                  <mat-label>Nombres</mat-label>
                  <input matInput autocomplete="off" formControlName="nombres">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho">
                  <mat-label>Apellidos</mat-label>
                  <input matInput autocomplete="off" formControlName="apellidos">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho">
                  <mat-label>Correo</mat-label>
                  <input matInput autocomplete="off" formControlName="correo" >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho">
                  <mat-label>Teléfono</mat-label>
                  <input matInput autocomplete="off"  formControlName="tel">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <mat-form-field class="ancho">
                  <mat-label>Contraseña</mat-label>
                  <input matInput autocomplete="off" formControlName="contrasena">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <button mat-raised-button style="margin-right: 20px;">Volver</button>
                <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </mat-card>

      </mat-tab>
    -->
    </mat-tab-group>
  </div><br>
  <!-- Línea previa al footer -->
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title"></h5>
      <p style="color:white" class="card-text"></p>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section links">
        <div align="center"class="socials">
          <a  style="color:rgb(40, 122, 177)" href= "https://www.linkedin.com/company/sopesagt"><i class="bi bi-linkedin"></i></a>&nbsp;
          <a  style="color:blue" href= "https://www.facebook.com/SOPESA1/"><i class="bi bi-facebook"></i></a>&nbsp;
          <a  style="
            border-radius: 40px;
            color: #fff;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);"
            href= "https://instagram.com/sopesa1"><i class="bi bi-instagram"></i></a>&nbsp;
          <a style="color:red" href= "https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg"><i class="bi bi-youtube"></i></a>&nbsp;
          <a style="color: black"href="https://goo.gl/maps/82xybT4hZ7L6cGaAA"><i class="bi bi-geo-alt-fill"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <strong>&copy; SOPESA</strong>
    </div>
  </div>
  </body>
  </html>
