table {
  width: 100%;
  //margin-top: 40px;
 // margin-bottom: 40px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/*
th{
  width: 18%;
}
*/
.pointer{
  cursor: pointer;
}

.container{
  //margin-left: 100px;
  //margin-right: 100px;
  margin-top: 5px;
}

.footer{
  background: white;
  height: 100px;
  position: relative;
}

.footer .footer-content{
  height: 80px;
  display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;

}

.ancho{
  width: 80%;
}

.footer .footer-bottom{
  background: white;
  color: black;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left:0px;
  padding-top:20px;
}

@media(max-width: 736px){
  .login-form .main{
    flex-direction: column;
}
.login-form form{
    margin-top: 30px;
    margin-bottom: 10px;
}
.form-img{
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0;
    order: 2;
}
.content{
    order: 1;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

  .container{
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      flex-direction: column;
  }
}


.login-form form{
  margin: 30px 0;
}

.login-form input{
  outline: none;
  margin-bottom: 10px;
  font-stretch: 11px;
  color: #999;
  text-align: left;
  padding: 10px 16px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #f7fafc;
  transition: 0.3s ease;
}

.login-form input:focus{
  background: transparent;
  border: 1px solid red;
}

.login-form button{
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: red;
  border: none;
  padding: 10px 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.login-form button:hover{
  background: #BDBDBD;
}

.login-form h2{
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 5px;
  font-weight:500;
  color: #000000;
  text-align:center;
}

.login-form .main{
  position: relative;
  display: flex;
  margin: 30px 0;
}

.content{
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  //box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img{
  flex-basis: 50%;
  background: #fff;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img img{
  max-width: 100%;
}

.btn,
button,
input{
  border-radius: 35px;
}

.btn:hover,
button:hover{
  transition: 0.5s ease;
}

.login-form{
  position: relative;
  min-height: 60vh;
  z-index: 0;
  //background: #b71c1c;
  padding: 10px;
  justify-content: center;
  display:grid;
 // grid-template-rows: 1fr auto 1fr;
  align-items: center;
}


.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
}

.error-page{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  top: 10%;
  left: 17%;
  right: 17%;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 88.02% 50%, #ff5000 0, #fe3a10 25%, #f01c1c 50%, #e10023 75%, #d30029 100%);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}


.error-page .contentE{
  max-width: 600px;
  text-align: center;
}

.contentE h1{
  font-size: 18vw;
  line-height: 1em;
}

.contentE h4{
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  max-width: 600px;
  font-size: 2em;
}

.contentE p{
  font-size: 1.2em;
  color: #0d0d0d;
}
