.login-form .main{
  position: relative;
  display: flex;
  margin: 30px 0;
}

.container{
  max-width: center;
  margin: 0 auto;
}

.login-form{
  position: relative;

  z-index: 0;

  padding: 10px;
  justify-content: center;
  display:grid;
 // grid-template-rows: 1fr auto 1fr;
  align-items: center;
}


.content{
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img{
  flex-basis: 50%;
  background: #fff;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img img{
  max-width: 100%;
}

.footer{
  background: white;
  height: 100px;
  position: relative;
}

.footer .footer-content{
  height: 80px;
  display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;

}

.footer .footer-bottom{
  background: white;
  color: black;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left:0px;
  padding-top:20px;
}


@media(max-width: 736px){
  .login-form .main{
      flex-direction: column;
  }
  .login-form form{
      margin-top: 30px;
      margin-bottom: 10px;
  }
  .form-img{
      border-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 0;
      order: 2;
  }
  .content{
      order: 1;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }
}

.btn,
button,
input{
  border-radius: 35px;
}

.btn:hover,
button:hover{
  transition: 0.5s ease;
}


