<!DOCTYPE html>
<html>

<head>
  <title>SM-Perfil</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <section *ngIf="identidad != null" class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
        <div class="perfil-usuario-avatar">
          <img src="/assets/user.png" alt="img-avatar">
            <!--
              <button type="button" class="boton-avatar">
                <i class="bi bi-check-circle-fill"></i>
              </button>
            -->
        </div>
        <button type="button" class="boton-portada" [routerLink]="['/inicio']">
          Regresar al inicio
        </button>
      </div>
    </div>
    <div  class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
        <h3 class="titulo">{{identidad.usuario}}</h3>
          <!--<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>-->
      </div>
      <div class="perfil-usuario-footer">
        <ul class="lista-datos">
          <li><i class="bi bi-list-nested"></i> <strong> Nombre(s):</strong></li>
          <li><i class="bi bi-arrow-return-right"></i> {{identidad.nombres}}</li>
          <li><i class="bi bi-list-nested"></i> <strong> Apellido(s):</strong></li>
          <li><i class="bi bi-arrow-return-right"></i>  {{identidad.apellidos}}</li>
        </ul>
        <ul class="lista-datos">
          <li><i class="bi bi-envelope"></i> <strong> Correo electrónico:</strong></li>
          <li><i class="bi bi-arrow-return-right"></i>  {{identidad.correo}}</li>
          <li><i class="bi bi-telephone"></i> <strong> No. Telefónico:</strong></li>
          <li><i class="bi bi-arrow-return-right"></i> {{identidad.tel}}</li>
        </ul>
      </div>
      <div class="perfil-usuario-bioD">
        <h3 class="titulo">Solicitud de reuniones</h3>
      </div>
      <div class="container">
        <!-- Filtro-->
        <mat-form-field appearance="standard">
          <mat-label >Escribe algo para filtrar...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Reunión" #input autocomplete="off">
        </mat-form-field>
        <!-- Tabla -->
        <div class="mat-elevation-z8">
          <table align="center" mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <i class="bi bi-list-nested"></i> &nbsp; Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidadAsist">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="bi bi-people-fill"></i> </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidadAsist}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <i class="bi bi-calendar2-check-fill"></i> &nbsp; Fecha de Inicio </th>
              <td mat-cell *matCellDef="let element">
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  id="inputFechaFn"
                  name="fechFnd"
                  #fechFnd="ngModel"
                  [(ngModel)]="element.start"

                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Seleccione la fecha de inicio"
                  disabled
              />
              </td>
            </ng-container>

            <ng-container matColumnDef="end">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="bi bi-calendar2-x-fill"></i> &nbsp; Fecha de finalización </th>
              <td mat-cell *matCellDef="let element">
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  id="inputFechaIn"
                  name="fechIn"
                  #fechIn="ngModel"
                  [(ngModel)]="element.end"

                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Seleccione la fecha de inicio"
                  disabled
              />
              </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="text-align:right;">
                <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#mVerReunion" (click)="obtenerEvent(element._id)"><i class="bi bi-front"></i></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

         <mat-paginator  [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons ></mat-paginator>
        </div>

        <div class="go-calendar">
          <p>Para ir a la sección del calendario donde se encuentran todas las solicitudes de reuniones y demás <a [routerLink]="['/visorEventos']" class="card-link">presiona aquí...</a></p>
        </div>
      </div>

      <div class="redes-sociales">
        <a style="color:black" href="https://goo.gl/maps/82xybT4hZ7L6cGaAA" class="boton-redes"><i class="bi bi-geo-alt-fill"></i></a>
        <a href="https://www.linkedin.com/company/sopesagt" class="boton-redes"><i class="bi bi-linkedin"></i></a>
        <a style="color:blue" href="https://www.facebook.com/SOPESA1/" class="boton-redes facebook"><i class="bi bi-facebook"></i></a>
        <a style="color:red" href="https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg" class="boton-redes"><i class="bi bi-youtube"></i></a>
        <a style="
          border-radius: 40px;
          color: #fff;
          vertical-align: middle;
          background: #d6249f;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
          box-shadow: 0px 3px 10px rgba(0,0,0,.25);" href="https://instagram.com/sopesa1" class="boton-redes"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
    <br>
  </section>

  <div *ngIf="identidad === null" id="err">
      <div id="error-page">
        <div class="contentE">
          <h1 data-text="403">403</h1>
          <h4 data-text="Opps! Page not found">Ooops! No puedes acceder...</h4>
          <p>Lo sentimos, pero tienes que iniciar sesión para poder ver el contenido.</p>
          <div class="btns">
            <a [routerLink]="['/login']">Ir a iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

<!-- Modal Ver Reunion -->
<div class="modal fade" id="mVerReunion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos de la Reunión:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inVrN" class="form-label"><i class="bi bi-list-nested"></i><strong> Nombre del Responsable:</strong></label>
            <input type="text" class="form-control" id="inVrN" name="nombreRes"
            #nombreRes="ngModel" [(ngModel)]="idEventModel.nombre" disabled>
          </div>
          <div class="mb-3">
            <label for="inVrD" class="form-label"><i class="bi bi-list-nested"></i><strong> Descripción:</strong></label>
            <input type="text" class="form-control" id="inVrD" name="descReu"
            #descReu="ngModel" [(ngModel)]="idEventModel.title" disabled>
          </div>
          <div class="mb-3">
            <label for="inVrS" class="form-label"><i class="bi bi-calendar-check"></i><strong> Fecha de Inicio:</strong></label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              id="inVrS"
              name="inicReu"
              #inicReu="ngModel"
              [(ngModel)]="idEventModel.start"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Seleccione la fecha de fin"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="inVrF" class="form-label"><i class="bi bi-calendar-x"></i><strong> Fecha de Finalización:</strong></label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              id="inVrF"
              name="finReu"
              #finReu="ngModel"
              [(ngModel)]="idEventModel.end"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Seleccione la fecha de fin"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="inVrSala" class="form-label"><i class="bi bi-building"></i><strong> Nombre de la Sala:</strong></label>
            <input type="text" class="form-control" id="inVrSala" name="nombre"
            #nombre="ngModel" [(ngModel)]="idEventModel.idSala.nombre" disabled>
          </div>
          <div class="mb-3">
            <label for="inVrRespC" class="form-label"><i class="bi bi-person-circle"></i><strong> Usuario del Creador de la Reunión:</strong></label>
            <input type="text" class="form-control" id="inVrRespC" name="salReu"
            #salReu="ngModel" [(ngModel)]="idEventModel.idResponsable.usuario" disabled>
          </div>
          <div class="mb-3">
            <label for="inFges" class="form-label"><i class="bi bi-calendar-plus"></i><strong> Fecha de Gestión:</strong></label>
            <input type="text" class="form-control" id="inFges" name="fechGestR"
            #fechGestR="ngModel" [(ngModel)]="idEventModel.fechaDeGestion" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>

