<!DOCTYPE html>
<html>

<head>
  <title>SM-Login</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="login-form">
    <div class = "container">
      <div class = "main">
        <div class = "content">
            <h2>Iniciar sesión</h2>
          <form>
            <div class="mb-3">
              <input type="email" placeholder="Ingrese su usuario" required autofocus="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <input type="password" placeholder="Ingrese su contraseña" required autofocus="" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn">Acceder</button>
          </form>
          <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> Nunca compartas tus credenciales con nadie.</div>
          <div id="emailHelp" class="form-text"><strong><i class="bi bi-question-circle-fill"></i> Si olvidaste o no cuentas con credenciales comunícate con el área de informática.</strong></div>

        </div>
        <div class="form-img">
          <img src="../../../assets/imgInicio.png">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
