<!DOCTYPE html>
<html>
<head>
    <title>SM - Salas del Tipo</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>

  <!-- Sección de la explicación de salas -->
  <div   *ngIf="identidad.rol==='SuperAdministrador'" style="border-radius: 0; "class="card text-center ">
    <div style="background-color:#b71c1c"  class="card-body">
      <h5 style="color:white"class="card-title">Salas</h5>
      <p style="color:white" class="card-text">En este apartado podrás encontrar las salas.</p>
      <button type="button" class="btn btn-light" [routerLink]="['/inicio']">Regresar al inicio</button>&nbsp;
      <button type="button" class="btn btn-light" [routerLink]="['/tipoSalas']"><i class="bi bi-diagram-2"></i> Ir a tipos</button>&nbsp;
    </div>
  </div>
  <br>
<div   *ngIf="identidad.rol==='SuperAdministrador'" class="main">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-4" *ngFor="let sls of salasModelGet; let i = index">
        <div class="card mb-3 border-dark" style="max-width: 21rem;">
          <small class=card-header>
            <div class="dropdown">
              <button *ngIf="sls.estado==='Activa'" class="btn btn-success btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"> </i>
              </button>
              <button *ngIf="sls.estado==='Desactivada'" class="btn btn-danger btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"> </i>
              </button>
              <strong> {{ sls.nombre }}</strong>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item"
                  [routerLink]="['/detalleSala', sls._id]"><i class="bi bi-search"></i> | Ver más...</a></li>
                </ul>
            </div>
          </small>
          <div class="card-body row justify-content-md-center" >
              <img *ngIf="sls.imagenUno == null  " src="/assets/imgTipoSalaD.jpg" class ="avatar-profile"  >
              <img *ngIf="sls.imagenUno " [src]="sls.imagenUno" class ="avatar-profile">
          </div>
          <div class="card-footer">
            <div class="btn-group " role="group" aria-label="Basic example">
              <p class="card-text"><strong>Nivel en el que se ubica: </strong>
                {{sls.ubicacion}}
              </p>
           </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="identidad.rol!='SuperAdministrador'" id="err">
    <div id="error-page">
      <div class="contentE">
        <h1 data-text="403">403</h1>
        <h4 data-text="Opps! Page not found">Ooops! No puedes acceder...</h4>
        <p>Lo sentimos, pero no tienes acceso para poder ver este contenido. </p>
      </div>
    </div>
  </div>
  <br>
    <!-- Línea previa al footer-->
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title"></h5>
      <p style="color:white" class="card-text"></p>
    </div>
  </div>

    <!-- Footer -->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section links">
        <div align="center"class="socials">
          <a  style="color:rgb(40, 122, 177)" href= "https://www.linkedin.com/company/sopesagt"><i class="bi bi-linkedin"></i></a>&nbsp;
          <a  style="color:blue" href= "https://www.facebook.com/SOPESA1/"><i class="bi bi-facebook"></i></a>&nbsp;
          <a  style="
            border-radius: 40px;
            color: #fff;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);"
            href= "https://instagram.com/sopesa1"><i class="bi bi-instagram"></i></a>&nbsp;
          <a style="color:red" href= "https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg"><i class="bi bi-youtube"></i></a>&nbsp;
          <a style="color: black"href="https://goo.gl/maps/82xybT4hZ7L6cGaAA"><i class="bi bi-geo-alt-fill"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <strong>&copy; SOPESA</strong>
    </div>
  </div>
</body>
</html>

