<!DOCTYPE html>
<html>
<head>
  <title>SM-VisorEventos</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<br>
<body>
  <div style=" border-radius: 0;"class="card text-center">
    <div class="card-header"></div>
    <div style="background-color:#b71c1c" class="card-body">
      <h5 style="color:white"class="card-title">Calendario de Reuniones</h5>
      <p style="color:white" class="card-text">En esta sección podrás encontrar todas las reuniones hechas, las cuales las podrás gestionar en un calendario que cuenta con varias funciones.</p>
      <button type="button" class="btn btn-light" [routerLink]="['/inicio']"><i class="bi bi-house-fill"></i> Ir al inicio</button>&nbsp;
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-calendar-plus"></i> Agregar Reunión
      </button>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <div class="login-form">

      <div class = "main">
        <div class = "content">
          <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
        </div>
      </div>

  </div>

  <!-- Error 403
  <div id="err">
    <div id="error-page">
      <div class="contentE">
        <h1 data-text="403">403</h1>
        <h4 data-text="Opps! Page not found">Ooops! No puedes acceder...</h4>
        <p>Lo sentimos, pero tienes que iniciar sesión para poder ver el contenido.</p>
        <div class="btns">
          <a [routerLink]="['/login']">Ir a iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
-->
  <!-- Footer -->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section links">
        <div align="center"class="socials">
          <a  style="color:rgb(40, 122, 177)" href= "https://www.linkedin.com/company/sopesagt"><i class="bi bi-linkedin"></i></a>&nbsp;
          <a  style="color:blue" href= "https://www.facebook.com/SOPESA1/"><i class="bi bi-facebook"></i></a>&nbsp;
          <a  style="
            border-radius: 40px;
            color: #fff;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);"
            href= "https://instagram.com/sopesa1"><i class="bi bi-instagram"></i></a>&nbsp;
          <a style="color:red" href= "https://youtube.com/channel/UCEEfSQ7Nl4R-gA8eb2x-otg"><i class="bi bi-youtube"></i></a>&nbsp;
          <a style="color: black"href="https://goo.gl/maps/82xybT4hZ7L6cGaAA"><i class="bi bi-geo-alt-fill"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <strong>&copy; SOPESA</strong>
    </div>
  </div>
</body>
</html>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: #b71c1c;" class="modal-header">
        <h5 style="color: white" class="modal-title" id="staticBackdropLabel">Agregar Reunión</h5>
        <button style="background-color: white" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div align="center" class="mb-3">
          <img class="d-block w-20" alt="..." style="max-width: 20%;"  src="../../../assets/imgSopesa.png">
        </div>
        <hr>
        <form>
          <div class="mb-3">
            <label for="inputNombreR" class="form-label"><i class="bi bi-list-nested"></i><strong> Nombre del Responsable:</strong></label>
            <input type="text" class="form-control" id="inputNombreR" name="nombreR" #nombreR="ngModel"
              [(ngModel)]="eventsModelAdd.nombre">
          </div>
          <div class="mb-3">
            <label for="inputDescripcionR" class="form-label"><i class="bi bi-list-nested"></i><strong> Descripción:</strong></label>
            <textarea class="form-control" id="inputDescripcionR" rows="1" name="descripcionR" #descripcionR="ngModel"
              [(ngModel)]="eventsModelAdd.title"></textarea>
          </div>
          <div class="mb-3">
            <label for="inputCnaAsR" class="form-label"><i class="bi bi-people-fill"></i><strong> Cantidad de Asistentes:</strong></label>
            <input type="number" class="form-control" id="inputCnaAsR" name="cantAsR" #cantAsR="ngModel"
              [(ngModel)]="eventsModelAdd.cantidadAsist">
          </div>
          <div class="mb-3">
            <label for="inputFechaIn" class="form-label"><i class="bi bi-calendar2-check"></i><strong> Fecha de Inicio:</strong></label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              id="inputFechaIn"
              name="fechIn"
              #fechIn="ngModel"
              [(ngModel)]="eventsModelAdd.start"

              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Seleccione la fecha de inicio"
            />
          </div>
          <div class="mb-3">
            <label for="inputFechaFn" class="form-label"><i class="bi bi-calendar-x"></i><strong> Fecha de Finalización:</strong></label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              id="inputFechaFn"
              name="fechFn"
              #fechFn="ngModel"
              [(ngModel)]="eventsModelAdd.end"

              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Seleccione la fecha de fin"
            />
          </div>
          <div class="mb-3">
            <label for="inputSala" class="form-label"><i class="bi bi-building"></i><strong> Salas disponibles para la reunión:</strong></label>
            <select  name="sala" #sala="ngModel"
              [(ngModel)]="eventsModelAdd.idSala" class="form-select" aria-label="Default select example">
              <option *ngFor="let tpsl of salasModelGet" [ngValue]="tpsl">{{tpsl.nombre}}</option>
            </select>
          </div>
          <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> No dejes campos vacios.</div>
          <div id="emailHelp" class="form-text"><strong><i class="bi bi-exclamation-circle-fill"></i> Cuando agregues la reunión pasará a un estado "Pendiente de Confirmación".</strong></div>
          <hr>
        </form>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-secondary" (click)="crearEvent()"><i class="bi bi-calendar-plus"></i> Agregar Reunión</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: #b71c1c;" class="modal-header">
        <h5 style="color: white" class="modal-title" id="staticBackdropLabel">Agregar Reunión</h5>
        <button style="background-color: white" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div align="center" class="mb-3">
          <img class="d-block w-20" alt="..." style="max-width: 20%;"  src="../../../assets/imgSopesa.png">
        </div>
        <hr>
        <form>
          <div class="mb-3">
            <label for="inputDescripcionR" class="form-label"><i class="bi bi-list-nested"></i><strong> Descripción:</strong></label>
            <textarea class="form-control" id="inputDescripcionR" rows="1" name="descripcionR" #descripcionR="ngModel"
              [(ngModel)]="eventsModelAdd.title"></textarea>
          </div>
          <div class="mb-3">
            <label for="inputFechaIn" class="form-label"><i class="bi bi-calendar2-check"></i><strong> Fecha de Inicio:</strong></label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              id="inputFechaIn"
              name="fechIn"
              #fechIn="ngModel"
              [(ngModel)]="eventsModelAdd.start"

              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Seleccione la fecha de inicio"
            />
          </div>
          <div class="mb-3">
            <label for="inputFechaFn" class="form-label"><i class="bi bi-calendar-x"></i><strong> Fecha de Finalización:</strong></label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              id="inputFechaFn"
              name="fechFn"
              #fechFn="ngModel"
              [(ngModel)]="eventsModelAdd.end"

              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Seleccione la fecha de fin"
            />
          </div>

          <div id="emailHelp" class="form-text"><i class="bi bi-exclamation-circle-fill"></i> No dejes campos vacios.</div>
          <div id="emailHelp" class="form-text"><strong><i class="bi bi-exclamation-circle-fill"></i> Cuando agregues la reunión pasará a un estado "Pendiente de Confirmación".</strong></div>
          <hr>
        </form>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-secondary" (click)="crearEvent()"><i class="bi bi-calendar-plus"></i> Agregar Reunión</button>
        </div>
      </div>
    </div>
  </div>
</div>

-->



